html, body, section, article, ul, li, a, p {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

#wrap {
  width: 900px;
  margin: 0 auto;
  margin-top: 10px;
}

#sentences {
  width: 300px;
  float: left;
  padding-right: 10px;
  margin-right: 20px;
  border-right: 1px solid #ccc;
}

.sentence-link {
  padding: 5px 0;
  display: block;
}

.sentence-link:hover {
  color: blue;
}

#sentence-display {
  width: 569px;
  float: left;
}

#sentence-display > p {
  padding: 5px 0;
}